<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/base.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/bootstrap.css')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Register
            </div>

            <div class="card-body">
                <form id="registerForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username">Email</label>
                            <input type="email" id="email" class="form-control" name="email" required>
                        </div>     
                        <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" class="form-control" name="firstname" required>
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" class="form-control" name="lastname" required>
                        </div> 
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="role">Role</label>
                            <input type="text" id="role" class="form-control" name="role" required>
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" id="phone_number" class="form-control" name="phone_number" autocomplete="phone_number" required>
                        </div> 
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password" autocomplete="new-password" required>
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="password2">Verify Password</label>
                            <input type="password" id="password2" class="form-control" name="password2" autocomplete="new-password" required>
                        </div> 
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>   
                </form>
            </div>

            <div class="card-footer text-muted">
                <a href="/auth/login-page" >Already have an account?</a>
            </div>
        </div>
    </div>   
</body>
</html>